<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <em>Rambutan Stationery Management System</em> is a
  platform to borrow and use stationery inside the office.
  This is the sample application for the assignment II.
</p>