<footer class="footer">
  <small>
    The Rambutan Stationery Management System</a>
    by <a href="https://github.com/arlharis">Lukman H.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://rambutancode.com">News</a></li>
    </ul>
  </nav>
</footer>